mnist:
  datasets_paths:
    training: "<PATH>/<FILENAME>.json"
    validation: "<PATH>/<FILENAME>.json"
    test: "<PATH>/<FILENAME>.json"

mnist_sequence:
  datasets_paths:
    training: "<PATH>/<FILENAME>.jsonl"
    validation: "<PATH>/<FILENAME>.jsonl"
    test: "<PATH>/<FILENAME>.jsonl"

progressive_sum:
  datasets_paths:
    training: "<PATH>/<FILENAME>.jsonl"
    validation: "<PATH>/<FILENAME>.jsonl"
    test: "<PATH>/<FILENAME>.jsonl"

han_classifier:
  datasets_paths:
    training: "<PATH>/<FILENAME>.jsonl"
    validation: "<PATH>/<FILENAME>.jsonl"
    test: "<PATH>/<FILENAME>.jsonl"
